body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul{
   	list-style-type: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -8px;
    padding-left: 0;
}

li{
	display: inline;
}

li a{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    float: right;
    display: block;
    color: rgb(41, 163, 41);
    text-decoration: none;
    padding: 9px 13px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 15px;
}

li a:hover{
   opacity: 0.7;
}

hr{
    position: relative;
    background-color: rgb(41, 163, 41);
    border: none;
    height: 6px;
    margin-top: 70px;
    width: 97%;
}

.equList{
    position: relative;
    float: left;
    margin-left: 32px;
    font-size: 38px;
    margin-bottom: 45px;
}


.equHeader{
    padding-right: 25px;
    border-right: thick solid rgb(41, 163, 41);
}

.equSelf{
    padding-left: 25px;
    padding-right: 25px;
    border-right: thick solid rgb(41, 163, 41);
    
}

.equInput{
    top: 0px;
    left: 0px;
    background-color: white;
    border: none;
    margin: 0px auto;
    outline: none;
    font-size: 38px;
    font-weight: normal;
    text-align: left;
   /* width: 30%;*/
    min-width: 4px;
}

form{
    display: inline;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 1;
}

.equDescription{
    padding-left: 25px;
}